@page "/netflix"
@using Eris.Shared
@inject HttpClient Http

<PageTitle>Netflix</PageTitle>

<h1>Netflix</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (status is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>Playing: @(status.IsPlaying)</div>
    
    <button @onclick="Pause">Pause</button>
    <button @onclick="Play">Play</button>
}

@code {
    private PlaybackStatus? status;

    protected override async Task OnInitializedAsync()
    {
        status = await Http.GetFromJsonAsync<PlaybackStatus>("api/netflix");
    }

    private async Task Pause() {
        var response = await Http.PutAsync("api/netflix/pause", content: null);
        status = await response.Content.ReadFromJsonAsync<PlaybackStatus>();
    }

    private async Task Play() {
        var response = await Http.PutAsync("api/netflix/play", content: null);
        status = await response.Content.ReadFromJsonAsync<PlaybackStatus>();
    }
}
